@import url('https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"');

@import 'pomodoro-clock';
@import 'colors';

body {
  margin: 0;

  main {
    height: 100vh;
    background: center url("https://images.unsplash.com/photo-1525422847952-7f91db09a364?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ce6622924dae3b9be067e1778a6b8707&auto=format&fit=crop&w=1965&q=80");
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
  }
}